<div class="row">
  <div class="container">
    <div class="aboutus-text-container">
      <p class="aboutus-title">About us</p>
      <p class="aboutus-text">PROAIR SDN BHD, a contracting mechanical and electrical company was established in 1990 with the main objective of providing engineering services to the commercial and marine industries.<br><br>The firm has since successfully completed, in the field of mechanical and electrical engineering works which include hotels, factories, office etc. Included are many local and foreign vessels ( ocean tankers, Offshore Supply Vessels) for the marine Oil and Gas industry as well as specialized jobs for the defense industry.</p>
    </div>
  </div>
  <img class="aboutus-img"
       src="./../../../assets/images/img-aboutus.png" 
       srcset="./../../../assets/images/img-aboutus@2x.png 2x, ./../../../assets/images/img-aboutus@3x.png 3x">
</div>
<div class="row licenced-background">
  <div class="container">
    <p class="licenced-text">Proair is a registered HVACR contractor with</p>
    <ul class="licenced-list">
      <li class="licenced-list-item">
        <a href="http://www.boustead.com.my/">
          <img src="./../../../assets/images/img-bhd.png">
        </a>
      </li>
      <li class="licenced-list-item">
        <a href="http://www.labuanship.com/">
          <img src="./../../../assets/images/img-lse.png">
        </a>
      </li>
      <li class="licenced-list-item">
        <a href="http://www.mhb.com.my/EN/page/home/">
          <img src="./../../../assets/images/img-mmhe.png">
        </a>
      </li>
      <li class="licenced-list-item">
        <a href="http://www.goms.com.my/v1/">
          <img src="./../../../assets/images/img-goms.png">
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="workwithus-row">
      <p class="workwithus-text">Interested in working with us?</p>
      <ul class="btn-container">
        <li>
          <button class="contact-btn">Contact Us</button>
        </li>
        <li>
          <button routerLink="/projects" class="projects-btn">View Projects</button>
        </li>
      </ul>
    </div>
  </div>
</div>
