<div class="container">
  <div class="project-img-border">
    <div class="project-img-box kpv">
      <div class="project-img-overlay"></div>
      <div class="project-title-container">
        <p class="project-title">KPV Redang</p>
        <p class="project-duration">Duration</p>
      </div>
    </div>
  </div>
  <p class="project-description">
    Sample text supplies air conditioning, heating, cooling and ventilation products to a wide range of superyacht builders around the world. One of them is Hakvoort Shipyards in Monnickendam, the Netherlands, a venerable maritime institution with a history spanning nearly a century of yachtbuilding. 
    <br><br>
    Having started out with traditional Dutch fishing boats, the yard evolved into a renowned builder of luxury yachts, becoming increasingly specialised along the way. We talked to managing director Klaas Hakvoort about the close partnership.
  </p>

  <div class="project-img-border">
    <div class="project-img-box lewek">
      <div class="project-img-overlay"></div>
      <div class="project-title-container">
        <p class="project-title">Lewek &amp; Snipe</p>
        <p class="project-duration">Duration</p>
      </div>
    </div>
  </div>
  <p class="project-description">
    Sample text supplies air conditioning, heating, cooling and ventilation products to a wide range of superyacht builders around the world. One of them is Hakvoort Shipyards in Monnickendam, the Netherlands, a venerable maritime institution with a history spanning nearly a century of yachtbuilding. 
    <br><br>
    Having started out with traditional Dutch fishing boats, the yard evolved into a renowned builder of luxury yachts, becoming increasingly specialised along the way. We talked to managing director Klaas Hakvoort about the close partnership.
  </p>

  <div class="project-img-border">
    <div class="project-img-box sapurakencana">
      <div class="project-img-overlay"></div>
      <div class="project-title-container">
        <p class="project-title">Sapurakencana Aman</p>
        <p class="project-duration">Duration</p>
      </div>
    </div>
  </div>
  <p class="project-description">
    Sample text supplies air conditioning, heating, cooling and ventilation products to a wide range of superyacht builders around the world. One of them is Hakvoort Shipyards in Monnickendam, the Netherlands, a venerable maritime institution with a history spanning nearly a century of yachtbuilding. 
    <br><br>
    Having started out with traditional Dutch fishing boats, the yard evolved into a renowned builder of luxury yachts, becoming increasingly specialised along the way. We talked to managing director Klaas Hakvoort about the close partnership.
  </p>

  <a class="viewmore-btn" href="https://firebasestorage.googleapis.com/v0/b/proair-web.appspot.com/o/company%20profile.pdf?alt=media&token=6ee4000f-7a16-4bb1-8be7-7ee78a9d0d78">View More Projects</a>

  <div class="workwithus-row">
      <p class="workwithus-text">Interested in working with us?</p>
      <ul class="btn-container">
        <li>
          <button class="contact-btn">Contact Us</button>
        </li>
      </ul>
    </div>
</div>