.container {
  padding: 0 10px;
}

.input-row-container {
  display: inline-block;
}

.input-label {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  letter-spacing: 0.6px;
  color: #2f2f2f;
}

.input-error {
  margin-left: 10px;
  color: red;
}

.input-box {
  width: 169px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #e1e1e1;
}

.input-box.message {
  height: 100px;
  overflow-y: scroll;
}