<div class="bar">
  <div class="content">
    <img src="./../../assets/images/ic-barLogo.svg" alt="Logo">
    <div class="link-container">
      <ul>
        <li class="link" routerLink="/home" routerLinkActive="selected">Home</li>
        <li class="link" routerLink="/company" routerLinkActive="selected">Company</li>
        <li class="link" routerLink="/projects" routerLinkActive="selected">Projects</li>
        <li class="link" routerLink="/team" routerLinkActive="selected">Team</li>
      </ul>
    </div>
  </div>
</div>
