.bar {
  width: 100%;
  height: 80px;
  background-color: #112d4e;
}

.logoContainer {
  position: relative;
  background-color: transparent;
  height: 70px;
  display: inline-block;
}

.logoContainer img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  height: 100%;
}

.logo {
  display: inline-block;
  float: left;
}

.logo:hover {
  cursor: pointer;
}

.link-container {
  display: inline-block;
  margin-top: 27.5px;
  float: right;
}

.link-container ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.link {
  display: inline;
  font-size: 16px;
  letter-spacing: 0.6px;
  color: #ffffff;
  margin-right: 35px;
  outline: none;
  text-align: center;
  font-weight: lighter;
}

.link.image {
  margin: 0;
}

.link.image:last-child {
  margin-right: 20px;
}

.link.selected {
  border-bottom: 3px solid #ffffff;
  font-weight: normal;
}

.link:last-child{
  margin-right: 0;
}

.link:hover {
  cursor: pointer;
  border-bottom: 3px solid #ffffff;
}

@media screen and (max-width: 992px) {
  .link-container {
    margin-top: 20px;
  }
  .link {
    opacity: 0.6;
  }
  .link.image {
    margin-right: 50px;
  }
  .link.selected {
    border: none;
    opacity: 1;
  }
  .link:hover {
    border: none;
    opacity: 0.8;
  }
}

@media screen and (max-width: 580px) {
  .bar {
    height: 60px;
  }

  .logoContainer {
    background-color: white;
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  .link-container {
    margin-top: 18px;
  }

  .link.image {
    width: 24px;
    height: 24px;
    margin-right: 25px;
  }

  .link img {
    width: 24px;
    height: 24px;
  }

  .link:hover {
    border: none;
    opacity: 1;
  }
}