/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
}

.body-wrapper {
  min-height: calc(100vh - 375px);
}

.col {
  display: inline-block;
}

.container {
  width: 992px;
  margin: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .body-wrapper {
    min-height: calc(100vh - 580px);
  }
}