/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.row {
  margin-top: 12px;
  display: inline-block;
  width: 100%;
}

.row.margin-override {
  margin-top: 0;
}

.col {
  display: inline-block;
}