/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
}

.body-wrapper {
  min-height: calc(100vh - 280px);
}

.row {
  margin-top: 12px;
  display: inline-block;
  width: 100%;
}

.row.margin-override {
  margin-top: 0;
}

.col {
  display: inline-block;
}

@media screen and (max-width: 992px) {
  .body-wrapper {
    min-height: calc(100vh - 505px);
  }
}