<div class="container">
  <p class="title">The Team</p>
  <p class="subtitle desc">PROAIR SDN BHD, a contracting mechanical and electrical company was established in 1990 with the main objective of providing.</p>
  <div class="team-row">
    <div class="team-container">
      <div class="img-container kkf"></div>
      <p class="name">Kan Kum Fatt</p>
      <p class="role">Managing Director</p>
      <p class="desc">Mr. Kan is the founder and main shareholder of Proair Sdn Bhd. He holds a Diploma in Electrical & electronics Engineering, and has been trained in design of air-conditioning systems (basic & advanced). Mr. Kan has more than 30 years’ experience in the heating ventilation and air- conditioning industry.</p>
    </div>
    <div class="team-container">
      <div class="img-container sm"></div>
      <p class="name">Shia Mary</p>
      <p class="role">Director (Finance and Administration)</p>
      <p class="desc">Ms. Shia is responsible for the company’s finance and administration unit of the company. She holds a Master of Business Administration degree from University of Bath, United Kingdom and is a member of the Malaysian Institute of Management. Ms Shia had 15 years’ experience in the financial services industry prior to joining as the Finance and Administration Director.</p>
    </div>
    <div class="team-container">
      <div class="img-container bk"></div>
      <p class="name">Phang Chee Kit</p>
      <p class="role">Project Director</p>
      <p class="desc">Mr. Phang Holds a B SC. in Electrical Engineering (Honours) UK, MIEM, P. Eng, MIPENZ. He has extensive experience in mechanical and engineering works.</p>
    </div>
  </div>
</div>
