<div class="row-banner">
  <div class="container">
    <div class="banner-text-container">
      <p class="banner-title">We handle all your HVACR needs</p>
      <p class="banner-subtitle">With the longest history in Malaysia, Proair is known as the expert in the HVACR construction industry for shipyards.</p>
      <button *ngIf="isSmallScreen" class="contact-btn">Contact Us</button>
      <button routerLink="/company" class="banner-learnmore-btn">Learn More</button>
    </div>
  </div>
</div>
<div class="whoweare-row">
  <img *ngIf="!isSmallScreen"
       class="whoweare-img" 
       src="./../../../assets/images/img-workshop.png" 
       srcset="./../../../assets/images/img-workshop@2x.png 2x, ./../../../assets/images/img-workshop@3x.png 3x">
  <div class="container">
    <div class="whoweare-text-container">
      <p class="row-title">Who We Are</p>
      <p class="row-text">PROAIR SDN BHD, a contracting mechanical and electrical company was established in 1990 with the main objective of providing engineering services to the commercial and marine industries.<br><br>The firm has since successfully completed, in the field of mechanical and electrical engineering works which include hotels, factories, offices, etc. </p>
      <div class="whoweare-btn-container">
        <button class="whoweare-download-btn">Download Profile</button>
        <button routerLink="/company" class="whoweare-learnmore-btn">Learn More</button>
      </div>
    </div>
  </div>
</div>
<div class="whatwedo-row">
  <div class="container">
    <p class="row-title">What We Do</p>
    <p class="row-text">The firm is capable of providing engineering contracting services on a turnkey basis, to provide engineering services independently, in one single contract.<br><br>The full scope of services include all phases of mechanical and electrical engineering with details in each discipline as follows:</p>
  </div>
  <div class="whatwedo-card-container">
    <div class="whatwedo-card-row">
      <div class="whatwedo-card">
        <img src="./../../../assets/images/ic-aircon.svg">
        <p>Air-conditioning &amp; ventilation systems (Marine &amp; Offshore Industries)</p>
      </div>
      <div class="whatwedo-card">
        <img src="./../../../assets/images/ic-fire.svg">
        <p>Fire protection systems</p>
      </div>
    </div>
    <div class="whatwedo-card-row">
      <div class="whatwedo-card">
        <img src="./../../../assets/images/ic-fridge.svg">
        <p>Refrigeration and cold rooms(Marine &amp; Offshore Industries)</p>
      </div>
      <div class="whatwedo-card">
        <img src="./../../../assets/images/ic-control.svg">
        <p>Electrical Services – Wiring &amp; Control Panel</p>
      </div>
    </div>
  </div>
</div>
<div class="whoweare-row">
  <div class="container">
    <div class="trackrecord-text-container">
      <p class="row-title">Our Track Record</p>
      <p class="row-text">PROAIR SDN BHD has a respectable portfolio of completed projects. Among our notable projects are:</p>
      <button (click)="selectProject(0)" class="trackrecord-project-btn" [ngClass]="{ 'selected': selectedProjectImgIndex == 0 }">Project 0</button>
      <button (click)="selectProject(1)" class="trackrecord-project-btn" [ngClass]="{ 'selected': selectedProjectImgIndex == 1 }">Project 1</button>
      <button (click)="selectProject(2)" class="trackrecord-project-btn" [ngClass]="{ 'selected': selectedProjectImgIndex == 2 }">Project 2</button>
    </div>
  </div>
  <img class="trackrecord-img" src="{{selectedProjectImgSrc}}">
</div>
<div class="contact-row">
  <div class="container">
    <div class="contact-container">
      <p class="contact-text">The firm is capable of providing engineering contracting services, work with us today!</p>
      <button class="contact-btn">Contact Us</button>
    </div>
  </div>
</div>