<div class="row-banner">
  <div class="container">
    <div class="banner-text-container">
      <p class="banner-title">We handle all your HVAC needs</p>
      <p class="banner-subtitle">With the longest history in Malaysia, Proair is known as the expert in the HVAC construction industry for shipyards.</p>
      <button routerLink="/company" class="banner-learnmore-btn">Learn More</button>
    </div>
  </div>
</div>
<div class="whoweare-row">
  <img class="whoweare-img" src="./../../../assets/images/img-home-banner.png">
  <div class="container">
    <div class="whoweare-text-container">
      <p class="whoweare-title">Who We Are</p>
      <p class="whoweare-text">PROAIR SDN BHD, a contracting mechanical and electrical company was established in 1990 with the main objective of providing engineering services to the commercial and marine industries.<br><br>The firm has since successfully completed, in the field of mechanical and electrical engineering works which include hotels, factories, offices, etc. </p>
      <div class="whoweare-btn-container">
        <button class="whoweare-download-btn">Download Profile</button>
        <button routerLink="/company" class="whoweare-learnmore-btn">Learn More</button>
      </div>
    </div>

  </div>
</div>
