<div class="footer">
  <div class="container">
    <div class="col-left">
      <p class="title">Proair</p>
      <p class="text">10th Floor, 393 University Ave,<br>Toronto, ON, Canada   M5G 1E6</p>
      <p class="text">Tel: +1 123 123 1234<br>Fax: +1 123 123 1234</p>
    </div>
    <div class="col-right">
      <div class="orange-text-container">
        <p class="orange-text">Download Profile</p>
        <p class="orange-text">Contact Us</p>
      </div><br>
      <div class="link-container">
        <p routerLink="/company" class="link">Company</p>
        <p routerLink="/projects" class="link">Projects</p>
        <p routerLink="/team" class="link">Team</p>
        <p class="link">Career</p>
      </div>
      <p class="copyright">Copyright@Proair 2017.All rights reserved.</p>
    </div>
  </div>
</div>
