<div class="footer">
  <div class="container">
    <div class="col-left">
      <p class="title">Proair</p>
      <p class="text">Unit B-101, Block B,<br>1st Floor, Kelana Square,<br>No. 17, Jalan SS7/26,<br>Kelana Jaya,<br>47301 Petaling Jaya,<br>Selangor,<br>Malaysia.</p>
      <p class="text">Tel: +603-7803-6252, +603-7803-7259<br>Fax: +603-7803-5926</p>
    </div>
    <div class="col-right">
      <div class="orange-text-container">
        <p class="orange-text">Download Profile</p>
        <p class="orange-text">Contact Us</p>
      </div><br>
      <div class="link-container">
        <p routerLink="/company" class="link">Company</p>
        <p routerLink="/projects" class="link">Projects</p>
        <p routerLink="/team" class="link">Team</p>
        <p class="link">Career</p>
      </div>
      <p class="copyright">Copyright@Proair 2017.All rights reserved.</p>
    </div>
  </div>
</div>
